<div class="p-3">
    <mat-card class="container-fluid my-3 w-100">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [annotations]="chartOptions.annotations!"
        [title]="chartOptions.title"
        [colors]="chartOptions.colors"
        [grid]="chartOptions.grid"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </mat-card>
</div>
